
h4{font-size:22px;float:left;clear:both;display:block;margin:10px 0 5px;color:#36AADA;font-weight:300}
h4 .fs1{float:left}
.archive-header{height:40px;position:relative}
.ui-slider .ui-slider-range{background:#2aacde}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{background:#fff;border-radius:50%;box-shadow:none}
h1.archive-title{padding-top:0}
#ui-datepicker-div{background:#2eaadd}
.ui-datepicker-calendar thead{background:#fff}
.booking-details{position:absolute;width:50%;text-align:center;text-decoration:none;bottom:0;left:0;background:#fff;padding:8px 0;margin:0;right:0;border-radius:0;font-size:10px;text-transform:uppercase}
.choices span{padding:8px;margin:1%;background:#49484D;display:block;float:left;font-size:12px;color:#fff;cursor:pointer}
.addThis{position:absolute;color:#fff;right:0;background:#2EAADD;text-decoration:none;width:50%;text-align:center;border-radius:0;padding:8px 0;bottom:0;top:inherit;left:inherit;font-size:10px;text-transform:uppercase}
#activities-content.blocks{margin:0}
#selectedOne{margin:0;padding:0;clear:both;width:100%}
#activities-content.blocks .block h2,#selectedOne h2{line-height:30px;float:left;padding:0 2%;font-weight:400;font-size:10px;margin:0;color:rgba(153,153,153,0.87);clear:both;height:30px;overflow:hidden}
#activities-content.blocks .block span.price-u,#selectedOne .price-u{float:right;width:20%;background:#fff;line-height:30px;font-size:11px;display:block;color:#868686}
#activities-content.blocks .presta h3,#selectedOne h3{font-weight:400;font-size:14px}
#activities-content.blocks .presta ul li,#selectedOne .presta ul li{font-size:12px;margin:3% 2%;border-bottom:1px solid #ededed;padding:2%;list-style:none}
#activities-content.blocks .block:hover .presta,#selectedOne .block:hover .presta{opacity:.9}
#activities-content.blocks .presta,#selectedOne .presta{opacity:0;transition:all .4s ease;position:absolute;top:0;background:#fff;width:90%;padding:5%;font-weight:400}
#activities-content.blocks .block .head,#selectedOne .head{padding:0;text-align:center;top:-32px;position:absolute;left:0;right:0;opacity:1}
#activities-content.blocks .block,#selectedOne .block{background:#ededed;float:inherit;margin:30px 1% 40px;border:1px solid rgba(153,153,153,0.22);width:260px;float:left;position:relative}
#activities-content.blocks .block img,#selectedOne .block img{width:260px;height:260px}
#selectedOne .block{float:right;box-shadow:0 2px 8px #C7C7C7;margin:30px 50px}
#selectedOne .block .head{background:#FF4C4C}
#selectedOne .block .head h2{font-weight:700;color:#fff}
.future-flying-img{border-radius:50%;margin:-260px;z-index:99;position:absolute;top:0;left:0}
#front-form .date-wrapper,#front-form .people-wrapper{position:relative}
#front-form .date-wrapper .fs1{color:#25A0E8;position:absolute;top:0;right:10%}
#front-form .people-wrapper .fs1{color:#25A0E8;position:absolute;top:0;right:10%}
#front-form .fs1{color:#fff;font-size:20px;margin:0;display:block;float:left;padding:0 0 0 6px}
#front-form input[type=number]{text-align:left;padding:1px 0 1px 10px;margin:auto;display:block;width:86%;float:none}
#front-form input{line-height:25px;font-size:14px;padding:1px 8px;max-width:78%;margin:auto;float:none;display:block;border:none}
#front-form input[type=submit]{line-height:30px;font-size:18px;float:right;display:block;padding:0;margin:0 auto;width:100%;max-width:96%}
#front-form{background:rgba(0,0,0,0.65);clear:both;min-height:20px;display:block;margin:100px auto 50px;max-width:980px;padding:20px}
#front-form.exists{color:#fff;text-align:center;font-size:18px;max-width:320px;line-height:24px;min-height:0}
#primary.booking #content{padding:0 2%}
#add_success,#add_duplicate,#add_trip_success{position:fixed;left:0;background:rgba(149,202,40,1);padding:5px 15px;color:rgba(255,255,255,0.92);border-radius:2px;transition:all .4s ease;margin:auto;width:auto;text-align:center;line-height:20px;font-size:16px;min-width:80px;min-height:20px;font-weight:500;right:0}
#add_success.active.error{background:#f26969}
#add_success.active,#add_duplicate.active,#add_trip_success.active{bottom:0}
#add_duplicate{background:rgba(177,25,25,0.87)}
#user-actions{padding:20px 0 0;position:relative;width:96%;margin:auto;display:block}
input.required{color:red!important;border-color:red!important;background-color:rgba(255,255,0,0.3)}
#savetrip a{margin:10px auto;position:relative;line-height:40px}
#savetrip{color:#2da9dc;width:100%;float:none;text-align:left;font-size:12px;padding:0;margin:0;line-height:24px}
#savetrip input[type=text]{line-height:30px;height:30px;font-size:14px;float:none;width:70%;margin:auto;text-align:left}
#savetrip .fs1{position:absolute;right:10px;top:1px}
#booking-wrapper{position:relative;width:96%;margin:auto;display:block}
hr.clearfix{display:block}
.padd-l{padding:0 0 0 1em;margin:0}
#slider-range{max-width:300px;margin:10px}
#settings-title span{float:left;margin:0 2% 0 0}
#booking-wrapper h2.upptitle span{font-size:14px;color:#7C7C7C;text-transform:none}
#booking-wrapper h2.upptitle{border-bottom:1px solid rgba(192,192,192,1);color: #F2910C;float:left;display:block;clear:both;padding:8px 0 8px 2%;font-weight: 900;font-size:20px;width:98%;text-align:left;margin:30px 0 0}
#booking-wrapper #sidebar-booking-b h2{font-size:14px;margin:0}
#primary-b.booking{background:#fff;box-shadow:-1px 0 0 #ededed;padding:0;margin:0}
.form-booking{margin:auto;width:100%;max-width:100%;clear:both;display:block;padding:0}
.form-booking input[type=submit]{background:#25a0e8;border:none;color:#fff;padding:0;text-transform:none;margin:0 auto;cursor:pointer;width:80%;border-radius:4px;max-width:400px;display:block;line-height:40px;font-size:14px;transition:all .4s ease}
.form-booking input[type=text],.form-booking input[type=email],.form-booking input[type=tel]{border:1px solid #ccc;box-shadow:none;line-height:24px;margin:0;box-shadow:none;border-radius:4px;line-height:40px;width:96%;max-width:600px;display:block;padding:0 8px;font-size:14px;height:40px;font-family:Lato,Arial,sans-serif;text-align:left}
#primary-b.booking #content{padding:0 2%}
#sidebar-booking-b{margin-left:0;box-shadow:-3px -3px 4px rgba(174,174,174,0.83);height:auto;display:block;position:relative;background: #F0EDE8;}
#sidebar-sticky{padding:0 0 0 1em;height:100%;float:left;display:block}
#daysTrip{padding:20px 0;border:none;clear:both;width:100%;margin:10px 0}
.dayblock.current,.dayblock:hover{color:#2eaadd;opacity:1}
.dayblock.current .day-wrapper{box-shadow:0 1px 0 #2aacde;font-weight:300;color:#25a0e8}

.day-wrapper:hover,.day-wrapper:hover span.fs1{color:#2DA9DC}
.day-wrapper{width:100%;display:block;clear:none;float:left;min-height:65px;text-align:center;background:#FFF;cursor:pointer;position:relative;font-size:12px;color:#989b9d}
.day-wrapper .fs1.rd{position:absolute;font-size:16px;right:7px;top:0;margin:0;background-color:transparent;padding:0}
.day-wrapper .fs1{clear:both;display:block;font-size:20px;margin:5px 0 0;color:#626262}
.day-wrapper .js-change{width:90%;z-index:99;position:relative}
.dayblock.current .day-wrapper .fs1{color:#25a0e8}
.day-content > div:nth-child(even){background:#fcfcfc}
.day-content .dc .dp{position:absolute;font-size:10px;right:15px;top:12px;padding:0 1em 0 0;line-height:16px}
.day-content .dc{line-height:17px;text-align:left;padding:11px 20% 0;color:rgba(0,0,0,0.7);font-weight:300;font-size:14px;position:relative;overflow:visible;text-overflow:ellipsis;display:block;float:left;width:60%;height:40px;overflow:visible}
.day-content .dc .popit{display:none;position:absolute;width:175px;background-color:#fff;left:-206px;border:1px solid #2DA9DC;padding:10px}
.dc .popit:after,.dc .popit:before{left:100%;top:27%;border:solid transparent;content:" ";height:0;width:0;position:absolute;pointer-events:none}
.dc .popit:after{border-color:rgba(255,255,255,0);border-left-color:#fff;border-width:5px;margin-top:-5px}
.dc .popit:before{border-color:rgba(45,169,220,0);border-left-color:#2DA9DC;border-width:6px;margin-top:-6px}
.day-content .dc:hover .popit{display:block}
.day-content .dc img{width:40px;height:40px;display:block;float:left;margin:0;border-radius:50%}
.day-content{height:100%;display:block;width:100%;float:left;clear:none;background:#ededed;padding:0;margin:0}
.day-content .fs1{color:rgba(79,79,79,0.77);position:absolute;right:6px;top:12px}
.day-content .fs1:hover{color:#e51b1b;cursor:pointer;transform:scale(1.05)}
.dayblock{background:#F7F7F7;width:96%;margin:1% 1% 40px;padding:0;float:left;box-shadow:0 1px 2px rgba(0,0,0,0.36);text-align:center;font-size:12px;position:relative;opacity:.8;transition:all .4s ease}
.acf-field .acf-label p,.acf-field .acf-label{letter-spacing:0}
.form-booking input{width:80%;text-align:center;line-height:28px;font-size:14px}
.form-booking label span.fs1{margin:0 4px 0 0;color:rgba(46,170,221,0.78)}
.form-booking label{font-size:14px;color:rgba(0,0,0,0.77)}
#days-modifier button{border-radius:0;height:24px;width:20px;font-size:100%;line-height:20px;text-align:center;margin:0 4px;padding:0;background:#fff;color:#656565;border:1px solid}
#typeterms{float:none;width:90%;padding:10px;clear:both;display:block;background-color: #F4EDE5;margin:20px 0 40px;list-style:none;height:35px}
#typeterms li{float:left;position:relative;background-color: #F4EDE5;line-height:35px}
#typeterms li:hover > ul.sub{display:block}
#typeterms li > ul{list-style:none}
#typeterms li > ul.sub{list-style:none;display:none;top:35px;background-color:#f7f7f7;left:-10px;width:100%;width:calc(100% + 5px);z-index:99;box-shadow:none}
#typeterms li > ul li{font-size:14px;margin:0 0 0 10px;line-height:35px;padding:0 0 5px;background-color:#f7f7f7;font-style:italic}
#typeterms span input{float:left;width:auto;margin:12px 8px 0 0}
#typeterms span{float:left;width:auto;display:block;clear:none;margin:0 20px 0 0}
img{max-width:100%}
.sejour-content .block-trip{width:260px;height:260px}
.sejour-content .block-trip img{width:260px;height:260px;clear:both}
.block-trip{position:relative;width:150px;display:block;height:150px;margin:2%}
.block-trip .seeit,.block-trip .loadit{background:rgba(0,0,0,0.62);font-size:9px;text-transform:uppercase;text-decoration:none;width:100%;position:absolute;left:0;bottom:20px;line-height:12px;text-align:center;margin:0;padding:8px 0;color:#fff}
.block-trip .loadit{bottom:0;border-left:1px solid rgba(255,255,255,0.43)}
.block-trip h2{position:absolute;background:rgba(255,255,255,0.7);font-weight:300;font-size:10px;text-align:center;width:100%;line-height:20px;padding:0;top:0;margin:0}
.day-wrapper.anim-effect-boris::after{background:rgba(111,148,182,0.1);content:'';position:absolute;top:22px;left:22px;margin:-35px 0 0 -35px;width:110%;height:110%;opacity:0;pointer-events:none;animation:anim-effect-boris .3s forwards;-webkit-animation:anim-effect-boris .3s forwards}
img{max-width:100%;display:block;height:auto}
html.no-js{padding:110px 0 0}
.single #primary-b .entry-title{color: #000000;text-align:left;font-weight: bold;text-transform: none;font-size: 28px;margin: .6em 0;}
#primary-b .entry-title{text-align:center;font-size:22px;padding:0;border-bottom:none;color:#fff;max-width:96%;margin:20px 0 30px;padding:0 0 5px;font-weight:300}
#primary-b .entry-title span.locate-place{font-size:14px;margin:0 0 0 1em}
img.alignleft{float:left;padding:0 1em 1em 0}
#animation-excerpt{margin:1em auto;display:block;padding:1em;box-shadow:1px 2px 0 #EFE9E9;max-width:70%}
#animation-excerpt ul{list-style:none}
#animation-excerpt ul li{border-bottom:1px solid #ededed;padding:5px 5px 5px 0;line-height:20px}
a#CTA{background:#2eaadd;color:#fff;border-radius:4px;line-height:35px;display:block;float:right;padding:0 20px;font-size:14px}
#secondary h2{text-align:center;font-size:18px}
.home #page-wrapper{padding:0}
.home .post-onepage.notFullWidth{width:100%;max-width:100%}
#logger{position:fixed;top:0;right:0;background:#F7F7F7;color:#2da9dc;border-radius:4px;padding:10px;z-index:991}
#logger a{color:#2da9dc;padding:0 20px}
#logger a.log-out{display:block;float:right;background:url(../img/out.png) no-repeat 0 50%;text-indent:-9999px;height:24px;width:24px;padding:0}
.hidden{display:none}
#userTrips{list-style:none}
#userTrips .sharetrip{clear:both;margin:0 10px;font-size:14px;display:block}
#userTrips .sharetrip pre .fs1{color:#fff}
#userTrips .sharetrip pre{background-color:#2eaadd;border-radius:4px;padding:0 8px;color:#fff;float:right;margin:0 0 0 10px}
#userTrips li{margin:0 0 10px;padding:10px;line-height:30px;font-size:16px}
#userTrips li .fs1{float:left;margin:0 10px 0 0}
#userTrips li .fs1.js-delete-user-trip::before{margin:0 5px 0 0}
#userTrips li .fs1.js-delete-user-trip:hover{background:rgba(199,34,69,0.71);color:#fafafa;padding:0 8px;box-shadow:0 1px 1px #8C1D1D}
#userTrips li .fs1.js-delete-user-trip{transition:all .5s ease;float:right;font-size:11px;color:rgba(199,34,69,0.71);padding:0;margin:12px 0 0;cursor:pointer}
#userTrips li:nth-child(odd){background-color:#ededed}
#on-settings{background-color: #F5F5F5;margin:0 0 0 -1em;padding:2em 0 0 1em;box-shadow: 2px 0px 2px #000;}
#on-settings .on-field{padding:0 0 20px}
.hidden{display:none!important;visibility:hidden}
#event-trip-planning{list-style:none;display:block;padding:30px 0;width:100%;float:left;clear:both}
#event-trip-planning li{float:left;margin:0 2%;width:25%}
#event-trip-planning .single-activity-row{border-bottom:1px solid #ededed;padding:1em;width:80%;margin:auto;float:none;display:block;clear:both}
#event-trip-planning .single-activity-row img{width:90px;height:auto;display:block}
#event-trip-planning .etp-day{background:none;text-align:left;color:#575757;line-height:30px;width:90%;display:block;margin:0 auto 20px;text-transform:uppercase;padding:0 0 0 2em;border-bottom:1px solid #333}
.tags-s{position:relative}
.tags-s span.fs1{background:none}
.dcicons{font-family:Flaticon;font-size:18px;font-style:normal;position:absolute;top:0;left:0;color:#2ca8d7;margin:auto;float:none;text-align:center}
.tags-s span{background-color:rgba(228,228,167,0.52);color:#949494;font-size:11px;padding:3px 4px;line-height:20px;margin:0 4px 0 0;float:left}
#event-trip-planning .etp-days{clear:both;display:block;width:100%;float:left}
#event-trip-planning .etp-days li{width:100%;display:block;clear:both}
#event-trip-planning .etp-days h3{font-size:16px;text-align:left;color:#000;position:relative;padding:0 0 0 27px}
#event-trip-planning .etp-days img{margin:auto;display:block}
.activity-budget-user.total-line{color:#191919;font-weight:700}
.bdg{position:relative;width:20px;display:block;float:left;height:20px;margin:0 10px 0 4px}
.activity-budget-user{background-color:#FFF;color:#353535;margin:10px 0}
.budget-day{background:#ededed;padding:2px 8px;margin:8px 0 4px}
.trip-budget-user{max-width:800px;display:block;margin:auto;float:none;clear:both}
#sejour-content{clear:both;display:block;float:left;width:100%;margin:30px 0 0;padding:0}
.single h2{text-align:left;padding:0 0 10px;font-size:24px;color:rgba(68,68,68,0.78);font-weight:300;margin:30px 0 10px}
.slickReservation img{display:block;max-width:100%;max-height:400px;margin:auto}
.slickReservation .fs1.prevmulti,.slickReservation .fs1.nextmulti{cursor:pointer;position:absolute;font-size:90px;top:20%;left:0;width:auto;color:#35AADC}
#activity-gallery{position:relative;overflow:hidden;}
#single-top-information{background:rgba(255,255,255,0.65);line-height:48px;color:#000;font-size:24px;z-index:9;padding: 0;overflow:hidden}
.box-price{padding:2%;border:1px solid #ccc;margin:auto; display:block;width: 90%;float: right;height: 100%;display: block;}
#crp_related ul li{float:left;margin:0 5px 40px;text-align:center}
#primary-b #activity-gallery h1{position:relative;z-index:1;left:0;width:100%;margin:0;top:20%;font-size:28px;text-shadow:0 1px 0 rgba(255,255,255,0.69);text-align:left;color:rgba(0,0,0,0.86);font-weight:700;padding:0}
.slick-single{padding:30px}
#single-tabber .active a{background-color:#36ABDA;color:#fff}
#single-tabber a{font-size:16px;text-transform:uppercase;color:#505050;display:block;background-color:#EAEAEA;text-align:center;line-height:38px;padding:0;margin:0}
.slickReservation{margin:0;background-color:rgba(237,237,237,0.38);padding:0}
.slickReservation li{width:100%;height:400px;background-size:cover!important;background-position:50% 50%!important}
.slickReservation .fs1.nextmulti{right:0;left:inherit}

/*social*/	
.crunchify-link {
    padding: 0;
    color: white;
    font-size: 24px;
    width: 54px;
    height: 54px;
    display: block;
    line-height: 58px;
    text-align: center;
    border-radius: 50%;
    float: left;
    margin: 0 .2em;
}
 
.crunchify-link:hover,.crunchify-link:active {
    color: white;
}
 
.crunchify-twitter {
    background: #41B7D8;
}
 
.crunchify-twitter:hover,.crunchify-twitter:active {
    background: #279ebf;
}
 
.crunchify-facebook {
    background: #3B5997;
}
 
.crunchify-facebook:hover,.crunchify-facebook:active {
    background: #2d4372;
}
 
.crunchify-googleplus {
    background: #D64937;
}
 
.crunchify-googleplus:hover,.crunchify-googleplus:active {
    background: #b53525;
}
 
.crunchify-buffer {
    background: #444;
}
 
.crunchify-buffer:hover,.crunchify-buffer:active {
    background: #222;
}
 
.crunchify-social {
    -webkit-font-smoothing: antialiased;
    float: none;
    margin: auto;
    display: block;
}
/*Animation*/
@-webkit-keyframes anim-effect-boris {
	0% {
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	to {
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}

@keyframes anim-effect-boris {
	0% {
		-webkit-transform: scale3d(0.3, 0.3, 1);
		transform: scale3d(0.3, 0.3, 1);
	}
	25%, 50% {
		opacity: 1;
	}
	to {
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(1.2, 1.2, 1);
	}
}

@-webkit-keyframes zoomOutRight {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(.1) translate3d(2000px, 0, 0);
    transform: scale(.1) translate3d(2000px, 0, 0);
    -webkit-transform-origin: right center;
    transform-origin: right center;
  }
}

@keyframes zoomOutRight {
  40% {
    opacity: 1;
    -webkit-transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
    transform: scale3d(.475, .475, .475) translate3d(-42px, 0, 0);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(.1) translate3d(2000px, 0, 0);
    transform: scale(.1) translate3d(2000px, 0, 0);
    -webkit-transform-origin: right center;
    transform-origin: right center;
  }
}

.zoomOutRight {
  -webkit-animation-name: zoomOutRight;
  animation-name: zoomOutRight;
}

@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}
